.green {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #6cf855;
    /*border-radius: 7px;*/
    border-radius: 34px;
    /*font-size: 15px;*/
    font: small-caps bold 19px/1 system-ui;
    background-image: -webkit-linear-gradient(top, #c2fca1 0%, #8bf87e 60%, #3af527 100%);
}

.greenblink {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #4ca239;
    /*border-radius: 7px;*/
    border-radius: 34px;
    /*font-size: 15px;*/
    font: small-caps bold 19px/1 system-ui;
    background-image: -webkit-linear-gradient(top, #77b868 0%, #4f984a 60%, #1c8000 100%);
}

.grey {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #b5b5b5;
    /*border-radius: 7px;*/
    border-radius: 34px;
    /*font-size: 15px;*/
    font: small-caps bold 19px/1 system-ui;
    background-image: -webkit-linear-gradient(top, #efefef 0%, #d5d5d5 60%, #a5a5a5 100%);
}

.white {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #b5b5b5;
    /*border-radius: 7px;*/
    border-radius: 34px;
    /*font-size: 15px;*/
    font: small-caps bold 19px/1 system-ui;
    /*background-image: -webkit-linear-gradient(top, #fca1a1 0%, #f87e7e 60%, #ff0000 100%);*/
}

.red {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #f85555;
    /*border-radius: 7px;*/
    border-radius: 34px;
    /*font-size: 15px;*/
    font: small-caps bold 19px/1 system-ui;
    background-image: -webkit-linear-gradient(top, #fca1a1 0%, #f87e7e 60%, #ff0000 100%);
}

.redblink {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #a23939;
    /*border-radius: 7px;*/
    border-radius: 34px;
    /*font-size: 15px;*/
    font: small-caps bold 19px/1 system-ui;
    background-image: -webkit-linear-gradient(top, #b86868 0%, #984a4a 60%, #800000 100%);
}

.orange {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #f8a155;
    /*border-radius: 7px;*/
    border-radius: 34px;
    /*font-size: 15px;*/
    font: small-caps bold 19px/1 system-ui;
    background-image: -webkit-linear-gradient(top, #fccba1 0%, #f8af7e 60%, #ff5900 100%);
}

.err {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #2d2d2d;
    /*border-radius: 7px;*/
    border-radius: 34px;
    /*font-size: 15px;*/
    font: small-caps bold 19px/1 system-ui;
    background-image: -webkit-linear-gradient(top, #c5c5c5 0%, #7c7c7c 60%, #000000 100%);
}


.mydiv {
    /*position: absolute;*/
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: #fcfcfc;
    text-align: center;
    border: 2px solid #bcbcbc;
    border-radius: 7px;
    /*width: 120px;*/
    width: auto;
}
.mydiv2 {
    position: absolute;
    background-color: #fcfcfc;
    text-align: center;
    border: 2px solid #bcbcbc;
    border-radius: 7px;
    width: 460px;
}

.block {
    float: left;
    padding: 8px;
    padding-top: 14px;
    padding-left: 18px;
}

.panel-header {
    padding: 12px;
    /*cursor: move;*/
    background-color: #dbdbdb;
    color: #000000;
    border-radius: 5px;
    border: 2px solid #bcbcbc;
    /*font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;*/
    font: small-caps bold 30px/1 system-ui;
    /*font-size: xx-large;*/
    line-height: 1;
}

.mydivheader {
    padding: 12px;
    /*cursor: move;*/
    background-color: #dbdbdb;
    color: #000000;
    border-radius: 5px;
    border: 2px solid #bcbcbc;
    /*font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;*/
    font: small-caps bold 27px/1 system-ui;
    /*font-size: xx-large;*/
    line-height: 1;
    /*height: 80px;*/
    min-width: 80px;
    width: auto;
}
.mydivheader2 {
    padding-top: 13px;
    padding-right: 12px;
    padding-left: 12px;
    /*cursor: move;*/
    background-color: #dbdbdb;
    color: #000000;
    border-radius: 5px;
    border: 2px solid #bcbcbc;
    /*font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;*/
    font: small-caps bold 30px/1 system-ui;
    /*font-size: xx-large;*/
    line-height: 1;
    height: 40px;
}

