.green {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #6cf855;
    /*border-radius: 7px;*/
    border-radius: 34px;
    font-size: 15px;
    background-image: -webkit-linear-gradient(top, #c2fca1 0%, #8bf87e 60%, #3af527 100%);
}

.greenblink {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #4ca239;
    /*border-radius: 7px;*/
    border-radius: 34px;
    font-size: 15px;
    background-image: -webkit-linear-gradient(top, #77b868 0%, #4f984a 60%, #1c8000 100%);
}

.grey {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #b5b5b5;
    /*border-radius: 7px;*/
    border-radius: 34px;
    font-size: 15px;
    background-image: -webkit-linear-gradient(top, #efefef 0%, #d5d5d5 60%, #a5a5a5 100%);
}

.white {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #b5b5b5;
    /*border-radius: 7px;*/
    border-radius: 34px;
    font-size: 15px;
    /*background-image: -webkit-linear-gradient(top, #fca1a1 0%, #f87e7e 60%, #ff0000 100%);*/
}

.red {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #f85555;
    /*border-radius: 7px;*/
    border-radius: 34px;
    font-size: 15px;
    background-image: -webkit-linear-gradient(top, #fca1a1 0%, #f87e7e 60%, #ff0000 100%);
}

.redblink {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #a23939;
    /*border-radius: 7px;*/
    border-radius: 34px;
    font-size: 15px;
    background-image: -webkit-linear-gradient(top, #b86868 0%, #984a4a 60%, #800000 100%);
}

.orange {
    padding: 4px;
    text-align: center;
    display: inline-block;
    position: relative;
    /*height: 20px;*/
    width: 80px;
    border: 2px solid #f8a155;
    /*border-radius: 7px;*/
    border-radius: 34px;
    font-size: 15px;
    background-image: -webkit-linear-gradient(top, #fccba1 0%, #f8af7e 60%, #ff5900 100%);
}

.mydiv {
    position: absolute;
    background-color: #fcfcfc;
    text-align: center;
    border: 2px solid #bcbcbc;
    border-radius: 7px;
    width: 120px;
}
.mydiv2 {
    position: absolute;
    background-color: #fcfcfc;
    text-align: center;
    border: 2px solid #bcbcbc;
    border-radius: 7px;
    width: 460px;
}

.block {
    float: left;
    padding: 8px;
    padding-top: 14px;
    padding-left: 18px;
}

.mydivheader {
    padding: 12px;
    cursor: move;
    background-color: #dbdbdb;
    color: #000000;
    border-radius: 5px;
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    font-size: xx-large;
    line-height: 1;
}
.mydivheader2 {
    padding-top: 13px;
    padding-right: 12px;
    padding-left: 12px;
    cursor: move;
    background-color: #dbdbdb;
    color: #000000;
    border-radius: 5px;
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    font-size: xx-large;
    line-height: 1;
    height: 40px;
}

/*.werheader {*/
/*    !*margin-right: 25px;*!*/
/*    text-align-all: center;*/
/*    position: absolute;*/
/*    !*padding: 20px;*!*/
/*    !*cursor: move;*!*/
/*    !*background-color: #ffffff;*!*/
/*    color: #000000;*/
/*    !*border-radius: 5px;*!*/
/*    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;*/
/*    font-size: xxx-large;*/
/*    line-height: 1;*/
/*}*/

/*.werheaderblue {*/
/*    !*margin-right: 25px;*!*/
/*    text-align-all: center;*/
/*    position: absolute;*/
/*    !*padding: 20px;*!*/
/*    !*cursor: move;*!*/
/*    !*background-color: #ffffff;*!*/
/*    color: #005cff;*/
/*    !*border-radius: 5px;*!*/
/*    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;*/
/*    font-size: xxx-large;*/
/*    line-height: 1;*/
/*}*/
