.wrapper {
    display: grid;
    margin: 15px;
    grid-template-areas: ". d e .";
}

.a {
    grid-column: 1 / 3;
    grid-row: 1;
}
.b {
    grid-column: 3 ;
    grid-row: 1 / 3;
}
.c {
    grid-column: 1 / 3 ;
    grid-row: 2 ;
}


