.switch-vpp {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-vpp input {
    display: none;
}

.slider-vpp {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-vpp:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/*input:checked + .slider-vpp {*/
/*    background-color: #21f32b;*/
/*}*/

/*input:focus + .slider-vpp {*/
/*    box-shadow: 0 0 1px #55f321;*/
/*}*/

input:checked + .slider-vpp:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider-vpp.round-vpp {
    border-radius: 34px;
}

.slider-vpp.round-vpp:before {
    border-radius: 50%;
}
